body {
    background-color: #4ABDAC;
    color: #595959;
}

.error {
    color: #FC4A1A;
    font-size: 14pt;
    margin-top: 2px;
}

.error p {
    margin-top: 0;
}

form, .text {
    font-size: 16pt;

}

form div {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 28pt;
    text-decoration: underline;
}

#main-content {
    background-color: #DFDCE3;
    border:5px grey solid;
    margin: auto;
    width: 40%;
}

#main-content, #percentage input, #submit {
    text-align: center;
}

#percentage label {
    margin: 1em;
}

#percentage input {
    margin-top: 20px;
}

#result {
    border: 2px solid grey;
    font-size: 16pt;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    padding-left: 2em;
    text-align: left;
}

#result span {
    font-weight: bold;
}

.text {
    height: 20px;
    font-family: Futura sans-serif;
}

